name: loginacrwithsystemidentity

on:
  push:
    branches: [ "main" ]
  

jobs:
  build:

    runs-on: windows-latest
    continue-on-error: false
    container: 
      image: kirankumarsivapuram/base_image:3.0             

    steps:
    - uses: actions/checkout@v3           
    - name: az login
      run: |
        az login --service-principal -u ${{secrets.newuser}} -p ${{secrets.NEWPOSSWORD}} -t "5461eb53-e0fd-4320-92ff-c6efe1fe91e9"        
    - name: set subscription
      run: az account set --subscription "e64d2b7e-f9cf-4177-afb5-b4eb654ca3cb"
    - name: azure container registry login
      shell: pwsh
      run: |
         $ACR_REGISTRY_ID=$(az acr show --name systemasignacr --query "id" --output tsv)
         echo "registry id : $ACR_REGISTRY_ID"  
         $PASSWORD=$(az ad sp create-for-rbac --name b54b69cb-9c4e-4a5b-9f0e-55e0ec22328a --scopes $ACR_REGISTRY_ID --role acrpull --query "password" --output tsv)
         $USER_NAME=$(az ad sp list --display-name b54b69cb-9c4e-4a5b-9f0e-55e0ec22328a --query "[].appId" --output tsv)
         echo "user name is:  $USER_NAME"
         echo "password is:  $PASSWORD"
         
        
    
